<div class="search-aligner">
    <div class="search-container">
        <input type="search" placeholder="Search.." [(ngModel)]='animeQuery'>
    </div>
</div>

<ul >
    <p *ngIf="!anime"><em>Loading...</em></p>
     <li class = "tp-card" *ngFor="let a of filteredAnime">
        <mat-card >
                <mat-card-content>
                    <div class="container">
                        <a [href]='a.link' target="_blank"> 
                            <img class="image" [src]='a.imageUrl'/>
                            <div class="overlay">
                                <div class="text">{{a.description}}</div>
                            </div>
                        </a>
                    </div>
                </mat-card-content>
                <mat-card-actions>>
                    <mat-card-title class="nowrap">{{a.name}}</mat-card-title>
                </mat-card-actions>
        </mat-card>
    </li>
</ul>
